* {
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand';
  padding: 0;
  margin: 0;
  background: #f1f1f1;
  background: url("https://i.ibb.co/ZWpRLzK/output-onlinepngtools.png") repeat 0 0;
   -webkit-animation: bg-scrolling-reverse 2s infinite;
   -moz-animation: bg-scrolling-reverse 2s infinite;
   -o-animation: bg-scrolling-reverse 2s infinite;
   animation: bg-scrolling-reverse 2s infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-timing-function: linear;
   -o-animation-timing-function: linear;
   animation-timing-function:linear;
}
.header {
  padding: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color:white;
  text-align: center;  
  padding-bottom: 100px;
  background-image: url("https://p8cdn4static.sharpschool.com/userfiles/servers/server_104687/image/banner-images/banner-e1.png");
  background-repeat: no-repeat;
    background-position:center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}
.header h2 {
  font-size: 40px;
}
.leftcolumn {   
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.fakeimg {
  background-color: #ddd;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  word-wrap: break-word;
}
.card {
   background-color: #fff;
   padding: 20px;
   margin-top: 20px;
   border-radius: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
a.co {
  text-decoration: none;
  color: #000;
}
.rumble {
  color: coral;
}
 .text {
	 opacity: 0;
	 -webkit-animation: on .6s ease-in-out 3.7s forwards;
	 -moz-animation: on .6s ease-in-out 3.7s forwards;
	 -o-animation: on .6s ease-in-out 3.7s forwards;
	 animation: on .6s ease-in-out 3.7s forwards;
}
 .splash {
	 width: 100vw;
	 height: 100vh;
	 position: fixed;
	 top: 0;
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -ms-flexbox;
	 display: flex;
	 overflow: hidden;
}
 .splash_logo {
	 position: absolute;
	 margin: -15px 0 0 -25px;
	 top: 50vh;
	 z-index: 5;
	 left: 50vw;
	 width: 50px;
	 text-align: center;
	 height: 30px;
	 font-size: 26px;
	 font-weight: 600;
	 color: #fff;
	 opacity: 1;
	 will-change: opacity;
	 -webkit-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
	 -moz-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
	 -o-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
	 animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
}
 .splash_logo:before {
	 display: block;
	 position: absolute;
	 left: 15px;
	 bottom: -5px;
	 width: 20px;
	 height: 1px;
	 background-color: #757474;
	 content: "";
}
 .splash_logo:after {
	 display: block;
	 position: absolute;
	 left: 15px;
	 top: -5px;
	 width: 20px;
	 height: 1px;
	 background-color: #757474;
	 content: "";
	 will-change: width;
}
 .splash_svg {
	 position: relative;
	 margin: auto;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 bottom: 0;
	 right: 0;
}
 .splash_svg svg {
	 width: 100%;
	 height: 100%;
	 -webkit-backface-visibility: visible;
	 backface-visibility: visible;
}
 .splash_svg svg rect {
	 width: 100%;
	 height: 100%;
	 fill: #f1f1f1;
	 stroke: 0;
	 -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
	 clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
	 -webkit-animation: expand .7s ease-in forwards 2.7s;
	 -moz-animation: expand .7s ease-in forwards 2.7s;
	 -o-animation: expand .7s ease-in forwards 2.7s;
	 animation: expand .7s ease-in forwards 2.7s;
}
 .splash_minimize {
	 position: absolute;
	 margin: auto;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 z-index: 4;
}
 .splash_minimize svg {
	 width: 100%;
	 height: 100%;
	 -webkit-backface-visibility: visible;
	 backface-visibility: visible;
}
 .splash_minimize svg rect {
	 width: 100%;
	 height: 100%;
	 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
	 clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
	 -webkit-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
	 -moz-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
	 -o-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
	 animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
}
 @-webkit-keyframes scale {
	 100% {
		 -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
		 clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
	}
}
 @-moz-keyframes scale {
	 100% {
		 -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
		 clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
	}
}
 @-o-keyframes scale {
	 100% {
		 -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
		 clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
	}
}
 @keyframes scale {
	 100% {
		 -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
		 clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
	}
}
 @-webkit-keyframes hide {
	 100% {
		 fill: transparent;
	}
}
 @-moz-keyframes hide {
	 100% {
		 fill: transparent;
	}
}
 @-o-keyframes hide {
	 100% {
		 fill: transparent;
	}
}
 @keyframes hide {
	 100% {
		 fill: transparent;
	}
}
 @-webkit-keyframes off {
	 100% {
		 opacity: 0;
	}
}
 @-moz-keyframes off {
	 100% {
		 opacity: 0;
	}
}
 @-o-keyframes off {
	 100% {
		 opacity: 0;
	}
}
 @keyframes off {
	 100% {
		 opacity: 0;
	}
}
 @-webkit-keyframes on {
	 100% {
		 opacity: 1;
	}
}
 @-moz-keyframes on {
	 100% {
		 opacity: 1;
	}
}
 @-o-keyframes on {
	 100% {
		 opacity: 1;
	}
}
 @keyframes on {
	 100% {
		 opacity: 1;
	}
}
 @-webkit-keyframes logo {
	 100% {
		 color: #292929;
	}
}
 @-moz-keyframes logo {
	 100% {
		 color: #292929;
	}
}
 @-o-keyframes logo {
	 100% {
		 color: #292929;
	}
}
 @keyframes logo {
	 100% {
		 color: #292929;
	}
}
 @-webkit-keyframes type {
	 0% {
		 width: 0;
	}
}
 @-moz-keyframes type {
	 0% {
		 width: 0;
	}
}
 @-o-keyframes type {
	 0% {
		 width: 0;
	}
}
 @keyframes type {
	 0% {
		 width: 0;
	}
}
 @-webkit-keyframes type2 {
	 0% {
		 width: 0;
	}
	 50% {
		 width: 0;
	}
	 100% {
		 width: 100;
	}
}
 @-moz-keyframes type2 {
	 0% {
		 width: 0;
	}
	 50% {
		 width: 0;
	}
	 100% {
		 width: 100;
	}
}
 @-o-keyframes type2 {
	 0% {
		 width: 0;
	}
	 50% {
		 width: 0;
	}
	 100% {
		 width: 100;
	}
}
 @keyframes type2 {
	 0% {
		 width: 0;
	}
	 50% {
		 width: 0;
	}
	 100% {
		 width: 100;
	}
}
 @-webkit-keyframes expand {
	 25% {
		 -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
		 clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
		 fill: white;
	}
	 50% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
		 fill: #f1f1f1;
	}
	 75% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
		 fill: white;
	}
	 100% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
		 fill: #f1f1f1;
	}
}
 @-moz-keyframes expand {
	 25% {
		 -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
		 clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
		 fill: white;
	}
	 50% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
		 fill: #f1f1f1;
	}
	 75% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
		 fill: white;
	}
	 100% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
		 fill: #f1f1f1;
	}
}
 @-o-keyframes expand {
	 25% {
		 -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
		 clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
		 fill: white;
	}
	 50% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
		 fill: #f1f1f1;
	}
	 75% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
		 fill: white;
	}
	 100% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
		 fill: #f1f1f1;
	}
}
 @keyframes expand {
	 25% {
		 -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
		 clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
		 fill: white;
	}
	 50% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
		 fill: #f1f1f1;
	}
	 75% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
		 fill: white;
	}
	 100% {
		 -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
		 clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
		 fill: #f1f1f1;
	}
}
@-webkit-keyframes bg-scrolling-reverse {
   100% {
      background-position:50px 50px
   }
}

@-moz-keyframes bg-scrolling-reverse {
   100% {
      background-position:50px 50px
   }
}

@-o-keyframes bg-scrolling-reverse {
   100% {
      background-position:50px 50px
   }
}

@keyframes bg-scrolling-reverse {
   100% {
      background-position:50px 50px
   }
}
@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58m-xDwxUD2GF9Zc.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58i-xDwxUD2GF9Zc.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-xDwxUD2GFw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
